@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Pages/Noticias/Noticias.razor.rz.scp.css */
.noticias-container[b-mw8qj7fx5a]{
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    grid-auto-rows: auto;
    grid-gap:1rem;
}
/* /Pages/Products/Products.razor.rz.scp.css */
.products-item-container-4[b-5t29arfb9z]{
    display: grid;
    grid-template-columns: repeat(4,280px);
    grid-auto-rows: auto;
    grid-gap:1rem;
    justify-content: center;
}

.products-item-container-3[b-5t29arfb9z]{
    display: grid;
    grid-template-columns: repeat(3,280px);
    grid-auto-rows: auto;
    grid-gap:1rem;
    justify-content: center;
}

.products-container[b-5t29arfb9z]{
    display: grid;
    grid-template-columns: repeat(auto-fill,50%);
    grid-auto-rows: auto;
    grid-gap:1rem;
    justify-content: center
}



 .eb-button[b-5t29arfb9z] {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.eb-button a.eb-button-anchor[b-5t29arfb9z] {
   
    background-color: rgba(0,174,195,1);
    border-radius: 6px;
    color: #fff;
    font-size: 16px;  
    padding: 13px 22px;
   
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.eb-button-anchor:hover[b-5t29arfb9z] {
    cursor:pointer;
}   
.hvr-grow-rotate:hover[b-5t29arfb9z] {
     transform: translateY(0);
   transform: translateY(-30px);
    transform: translateY(-15px);
}
.p_center[b-5t29arfb9z]{
   text-align: center;
}

.content_button_party[b-5t29arfb9z]{
    right: -7px;
    bottom: 20.993px;
    position: fixed;
    z-index: 1;
    margin: 0rem 2rem 0rem 0rem;
    text-align: right;
 }

 .orientacion_button[b-5t29arfb9z] {
    border-radius: 50%;
    padding: 1.5em;
    background-color: #368ed2;
    color: #fff;
    fill: #fff;
    text-decoration: underline;
}
.elementor-icon[b-5t29arfb9z] {
    display: inline-block;
}
.elementor-icon:hover[b-5t29arfb9z] {
    background-color: #368ed2a4;
}

.wp-block-separator[b-5t29arfb9z] {
    border: 1px solid;
    border-left: none;
    border-right: none;
    width: 70%;
}
.center_hr[b-5t29arfb9z]{
    display: flex;
    justify-content: center;
}
/* /Pages/Products/Tecnovia.razor.rz.scp.css */
.tecnovia-container[b-08cpppde7q]{
    display: grid;
    grid-template-columns: repeat(auto-fill,280px);
    grid-auto-rows: auto;
    grid-gap:2rem;
    
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card[b-08cpppde7q] {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
   
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner[b-08cpppde7q] {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner[b-08cpppde7q] {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front[b-08cpppde7q], .flip-card-back[b-08cpppde7q] {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front[b-08cpppde7q] {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back[b-08cpppde7q] {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }





 /* Boton */
 
  .eb-button[b-08cpppde7q] {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.eb-button a.eb-button-anchor[b-08cpppde7q] {
   
    background-color: rgba(0,174,195,1);
    border-radius: 6px;
    color: #fff;
    font-size: 16px;  
    padding: 13px 22px;
   
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.eb-button-anchor:hover[b-08cpppde7q] {
    cursor:pointer;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-rnook4l0vg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-rnook4l0vg] {
    flex: 1;
}

.sidebar[b-rnook4l0vg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-rnook4l0vg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-rnook4l0vg]  a, .top-row[b-rnook4l0vg]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-rnook4l0vg]  a:hover, .top-row[b-rnook4l0vg]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-rnook4l0vg]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-rnook4l0vg] {
        display: none;
    }

    .top-row.auth[b-rnook4l0vg] {
        justify-content: space-between;
    }

    .top-row[b-rnook4l0vg]  a, .top-row[b-rnook4l0vg]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-rnook4l0vg] {
        flex-direction: row;
    }

    .sidebar[b-rnook4l0vg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-rnook4l0vg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-rnook4l0vg]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-rnook4l0vg], article[b-rnook4l0vg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.margin_product[b-t6sqovoj5n]{
    padding-right: 0.5rem;
}
.navbar-toggler[b-t6sqovoj5n] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-t6sqovoj5n] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-t6sqovoj5n] {
    font-size: 1.1rem;
}

.oi[b-t6sqovoj5n] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-t6sqovoj5n] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-t6sqovoj5n] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-t6sqovoj5n] {
        padding-bottom: 1rem;
    }

    .nav-item[b-t6sqovoj5n]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-t6sqovoj5n]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-t6sqovoj5n]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-t6sqovoj5n] {
        display: none;
    }

    .collapse[b-t6sqovoj5n] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
